.app__reviews{
    /* background-color: #03b9fc; */
    margin: 2rem 0;
    padding: 4rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px;
}
.app__reviews-display{
    display: flex;
}
.app__reviews-display:hover{
    cursor: pointer;
}