*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto Slab;
    
}

/*  Chrome  */
::-webkit-scrollbar{
    display: none;
}
    /*  Hide scrollbar for IE, Edge and Firefox */
.example{
    -ms-overflow-style:none;    /*
    IE and Edge */
    scrollbar-width: none;    /*
    Firefox */
}
/* a{
    text-decoration: none;
} */

